:root {
  /* Brand colors */
  --color-identity-primary: #DC0A2D;
  --color-identity-secondary: #28AAFD;

  /* Text and Background */
  --color-grayscale-dark: #1D1D1D;
  --color-grayscale-medium: #666666;
  --color-grayscale-light: #E0E0E0;
  --color-grayscale-background: #EFEFEF;
  --color-grayscale-white: #FFFFFF;
  --color-grayscale-wireframe: #B8B8B8;

  /* Pokemon types */
  --color-poketype-bug: #A7B723;
  --color-poketype-dark: #75574C;
  --color-poketype-dragon: #7037FF;
  --color-poketype-electric: #F9CF30;
  --color-poketype-fairy: #E69EAC;
  --color-poketype-fighting: #C12239;
  --color-poketype-fire: #F57D31;
  --color-poketype-flying: #A891EC;
  --color-poketype-ghost: #70559B;
  --color-poketype-grass: #74CB48;
  --color-poketype-ground: #DEC16B;
  --color-poketype-ice: #9AD6DF;
  --color-poketype-normal: #AAA67F;
  --color-poketype-poison: #A43E9E;
  --color-poketype-psychic: #FB5584;
  --color-poketype-rock: #B69E31;
  --color-poketype-steel: #B7B9D0;
  --color-poketype-water: #6493EB;


}