.baseStatsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.statContainer {
  display: flex;
  flex-direction: row;
}

.statName {
  font-family: "Poppins", sans-serif;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 16px;

  margin-right: 8px;
}

.statValue {
  font-family: "Poppins", sans-serif;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 16px;
  color: var(--color-grayscale-dark);

  margin-left: 8px;
  margin-right: 8px;
}

.statBar {
  width: 60vw;
  align-self: center;

}